# cache directories
.idea
.ipynb_checkpoints
__pycache__
T2S/datafiles/tweetir_json/Johnson___Johnson_s_Ethicon_Wants_Transvaginal_Mesh__1_2MM_Verdict_Thrown_Out__says_Legal_Bay_Lawsuit_Settlement_Funding/news_20150929090340_175bbfbd-b5f9-4bb3-bfa2-a697633060d3.json
T2S/datafiles/tweetir_json/Amerlux__along_with_SLL_and_CIBSE__to_Celebrate__Night_of_Heritage_Light__throughout_UK_on_October_1st/tweets_20150109090759_20151109220437_e7fc9f97-0952-4481-951b-583a3f17893e.json
